html,
body{
  height: 100%;
}

body {
  @extend %notosans-400;
  color: $text;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}