%bebas-400{
  font-family: 'BebasNeue-Regular', sans-serif;
  font-weight: 400;
}

%notosans-400{
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
}

%notosans-600{
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
}

%notosans-700{
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 700;
}