$text: #292D33;

%bebas-400{
  font-family: 'BebasNeue-Regular', sans-serif;
  font-weight: 400;
}

%notosans-400{
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
}

%notosans-600{
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
}

%notosans-700{
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 700;
}

%title{
  @extend %bebas-400;
  font-size: 60px;
  line-height: 72px;
  color: $text;
  padding-top: 30px;
  text-transform: uppercase;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #5C8EE6;
  }
}

%top-title{
  @extend %bebas-400;
  font-size: 80px;
  line-height: 96px;
  color: $text;
  padding-top: 30px;
  text-transform: uppercase;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #5C8EE6;
  }
}

%btn{
  @extend %notosans-600;
    color: #5C8EE5;
    padding-left: 60px;
    transition: all .3s;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      top: 11px;
      left: 0;
      background-color: #5C8EE5;
      transition: width 0.3s ease-out;
    }
    &:hover{
      padding-left: 80px;
      color: #5C8EE5;
    }
    &:hover::before{
      width: 60px;
    }
}