@import 'vars';
@import 'libs';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  border-bottom: 1px solid #EBEBF0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
  }
  &__logo{
    border-right: 1px solid #EBEBF0;
    height: 100%;
    padding-right: 50px;
    margin: auto 0 auto 50px;
    display: flex;
    align-items: center;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__box-phone{
    @extend %notosans-600;
    color: $text;
    padding-left: 34px;
    margin-right: 50px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background-image: url('../images/icons/phone.svg');
    }
  }
  &__box-btn{
    width: 300px;
    height: 94px;
    border: none;
    background-color: #5C8EE6;
    color: #fff;
    @extend %notosans-600;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #3A71D1;
    }
  }
  .menu{
    transform: translateX(-13px);
    &__list{
      display: flex;
      align-items: center;
    }
    &__list-item{
      button{
        &::after{
          top: 59px;
        }
      }
      & + .menu__list-item{
        margin-left: 50px;
      }
    }
    &__list-link{
      @extend %notosans-400;
      color: $text;
      font-size: 16px;
      line-height: 26px;
      position: relative;
      &::after{
        display: block;
	      position: absolute;
        top: 57px;
	      left: 0;
	      width: 0;
	      height: 2px;
	      background-color: #5C8EE6;
	      content: "";
	      transition: width 0.3s ease-out;
      }
      &:hover:after,
      &:focus:after {
	      width: 100%;
      }
    }
  }
}

.dropdown{
  height: 120px;
  position: relative;
  display: inline-block;
  margin: 0 50px;
  .dropbtn{
    transform: translateY(46px);
    @extend %notosans-400;
    color: $text;
    font-size: 16px;
    line-height: 26px;
    background-color: transparent;
    border: none;
  }
  &:hover{
    .dropdown-content{
      display: block;
    }
    .dropbtn{
      @extend %notosans-400;
      color: $text;
      font-size: 16px;
      line-height: 26px;
      position: relative;
      &::after{
        display: block;
	      position: absolute;
        top: 59px;
	      left: 0;
	      width: 0;
	      height: 2px;
	      background-color: #5C8EE6;
	      content: "";
	      transition: width 0.3s ease-out;
      }
      &:hover:after,
      &:focus:after {
	      width: 100%;
      }
    }
  }
}

.dropdown-content{
  display: none;
  position: absolute;
  top: 113px;
  background-color: #fff;
  min-width: 300px;
  padding: 15px 30px 25px;
  &__link{
    display: block;
    color: $text;
    line-height: 26px;
    margin-bottom: 15px;
    &:hover{
      color: #5C8EE6;
      text-decoration: underline;
      text-decoration-color: #5C8EE6;

    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.header-scroll{

  transition: all .3s;
  .header{
    &__inner{
      height: 73px;
    }
    &__box-btn{
      height: 74px;
    }
  }
}

.footer{
  background-color: #FAFBFC;
}

.footer-top{
  padding: 50px 0;
  border-bottom: 1px solid #EBEBF0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__phone{
    @extend %notosans-600;
    font-size: 32px;
    line-height: 30px;
    color: $text;
    border-bottom: 2px solid $text;
  }
  &__address{
    font-style: normal;
    padding-left: 34px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      background-image: url('../images/icons/mark.svg');
    }
  }
  &__email{
    color: $text;
    padding-left: 34px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      background-image: url('../images/icons/mail.svg');
    }
  }
  &__boxlink{
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  &__link{
    path{
      transition: all .3s;
    }
    &:hover{
      path{
        fill: #3A71D1;
      }
    }
  }
}

.footer-content{
  padding: 50px 0;
  border-bottom: 1px solid #EBEBF0;
  &__inner{
    display: flex;
  }
  &__items{
    display: flex;
    column-gap: 130px;
    margin-right: 190px;
  }
  &__item-title{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    @extend %notosans-600;
  }
  &__box{
    display: flex;
    column-gap: 110px;
  }
  &__box-item{
    margin-left: 20px;
  }
  &__box-link{
    display: block;
    color: #828A99;
    line-height: 26px;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__info-link{
    display: block;
    @extend %notosans-600;
    color: $text;
    line-height: 26px;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.footer-bottom{
  padding: 20px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #828A99;
  }
  &__box{
    display: flex;
    column-gap: 80px;
  }
  &__politics{
    color: #828A99;
    &:hover{
      text-decoration: underline
    }
  }
  &__info{
    display: flex;
    column-gap: 10px;
  }
}



@import 'media';